apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: microshop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      serviceAccountName: api-sa
      containers:
        - name: api
          image: docker.io/amine1002/backend-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          envFrom:
            - secretRef:
                name: api-secrets
          env:
            - name: PORT
              value: "3000"
