apiVersion: apps/v1
kind: Deployment
metadata:
  name: client
  namespace: microshop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: docker.io/amine1002/client-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
            - name: API_URL
              value: "http://api:3000"
